In [31]:
import pandas as pd

In [33]:
data=pd.read_csv("barcelona_weekends.csv")
data

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,532.036214,Entire home/apt,False,False,4.0,False,0,1,10.0,91.0,1,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,88.0,1,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714
2,2,196.895292,Private room,False,True,2.0,False,1,0,9.0,90.0,1,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300
3,3,141.271208,Private room,False,True,3.0,False,0,1,9.0,86.0,1,1.648311,0.089442,342.595820,13.228021,820.921958,18.032897,2.15342,41.37912
4,4,715.200037,Entire home/apt,False,False,4.0,True,0,1,9.0,95.0,2,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1273,1273,327.460609,Private room,False,True,2.0,True,0,0,9.0,96.0,1,2.608873,0.932342,271.642736,10.488440,537.512628,11.807347,2.19672,41.39929
1274,1274,242.977169,Private room,False,True,2.0,False,0,0,9.0,80.0,0,1.859134,0.555944,343.045595,13.245387,679.561854,14.927691,2.19099,41.39269
1275,1275,138.943841,Private room,False,True,2.0,False,0,0,10.0,96.0,2,2.670450,0.968673,266.091811,10.274112,534.080063,11.731945,2.19738,41.39954
1276,1276,185.258454,Private room,False,True,2.0,False,0,0,2.0,60.0,1,2.266090,0.387429,290.526738,11.217573,627.521382,13.784536,2.19679,41.39029
1277,1277,254.614006,Private room,False,True,2.0,False,0,0,10.0,100.0,1,2.394845,0.954950,284.900718,11.000346,564.678656,12.404093,2.19590,41.39637

In [35]:
print(data.isnull().sum())

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [9]:
data = data.drop_duplicates()
for column in data.columns:
    if data[column].dtype == 'object':  # If it's a categorical column
        data[column] = data[column].fillna('Unknown')
    else:  # If it's a numeric column
        data[column] = data[column].fillna(data[column].mean())

# Add 'city' and 'date_type' columns with specified values
data['city'] = 'Barcelona'
data['date_type'] = 'weekend'

# Save the modified dataset (optional)
data.to_csv('cleaned_and_modified_dataset.csv', index=False)  # Saves the file with the new columns

# Display the first few rows to verify
data.head()

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,date_type
0,0,532.036214,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624,Barcelona,weekend
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,...,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714,Barcelona,weekend
2,2,196.895292,Private room,False,True,2.0,False,1,0,9.0,...,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300,Barcelona,weekend
3,3,141.271208,Private room,False,True,3.0,False,0,1,9.0,...,1.648311,0.089442,342.595820,13.228021,820.921958,18.032897,2.15342,41.37912,Barcelona,weekend
4,4,715.200037,Entire home/apt,False,False,4.0,True,0,1,9.0,...,0.693560,0.357653,537.803135,20.765201,1081.560116,23.758242,2.17498,41.39214,Barcelona,weekend

In [37]:
data2=pd.read_csv("berlin_weekdays.csv")
data2.head(2)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,185.799757,Private room,False,True,2.0,True,0,0,10.0,98.0,1,3.582211,0.174706,105.063708,16.019042,148.941114,30.710638,13.42344,52.4915
1,1,194.914462,Private room,False,True,5.0,False,0,1,9.0,86.0,1,3.525410,0.511922,75.339529,11.487002,106.442356,21.947685,13.46800,52.5190

In [39]:
print(data2.isnull().sum())

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [43]:
# Load the second dataset
data2 = pd.read_csv('berlin_weekdays.csv')

# Add 'city' and 'date_type' columns
data2['city'] = 'berlin'  # Adjust the city as needed
data2['date_type'] = 'weekdays'  # Adjust the date type as needed

# Save the modified dataset
data2.to_csv('cleaned_file2.csv', index=False)
print('Cleaned and saved: cleaned_file2.csv')

Cleaned and saved: cleaned_file2.csv

In [49]:
data3=pd.read_csv("berlin_weekends.csv")
data3.head(2)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,185.799757,Private room,False,True,2,True,0,0,10.0,98.0,1,3.582222,0.174708,105.063613,16.013858,148.940768,31.511339,13.42344,52.4915
1,1,387.491820,Entire home/apt,False,False,6,False,0,1,10.0,93.0,2,6.082132,0.480956,52.877461,8.059614,66.884920,14.150816,13.50300,52.5090

In [51]:
print(data3.isnull().sum())

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [45]:
# Load the third dataset
data3 = pd.read_csv('berlin_weekends.csv')

# Add 'city' and 'date_type' columns
data3['city'] = 'berlin'  # Adjust the city as needed
data3['date_type'] = 'weekends'  # Adjust the date type as needed

# Save the modified dataset
data3.to_csv('cleaned_file3.csv', index=False)
print('Cleaned and saved: cleaned_file3.csv')

Cleaned and saved: cleaned_file3.csv

In [53]:
data4= pd.read_csv("budapest_weekdays.csv")
data4.head(2)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,238.990459,Entire home/apt,False,False,6.0,True,0,1,10.0,99.0,1,0.359355,0.352643,404.404677,24.116552,893.477343,67.656853,19.05074,47.50076
1,1,300.794285,Entire home/apt,False,False,6.0,False,0,1,9.0,98.0,2,0.929427,0.200235,1676.876030,100.000000,452.539717,34.267700,19.04493,47.50405

In [55]:
print(data4.isnull().sum())

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [57]:
# Load the fourth dataset
data4 = pd.read_csv('budapest_weekdays.csv')

# Add 'city' and 'date_type' columns
data4['city'] = 'budapest'  # Adjust the city as needed
data4['date_type'] = 'weekdays'  # Adjust the date type as needed

# Save the modified dataset
data4.to_csv('cleaned_file4.csv', index=False)
print('Cleaned and saved: cleaned_file4.csv')

Cleaned and saved: cleaned_file4.csv

In [59]:
data5= pd.read_csv("budapest_weekends.csv")
data5.head(2)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,332.048691,Entire home/apt,False,False,6.0,True,0,1,10.0,99.0,1,0.359372,0.352662,404.398511,24.136091,893.418228,78.100790,19.05074,47.50076
1,1,331.108709,Entire home/apt,False,False,6.0,False,0,1,9.0,98.0,2,0.929438,0.200219,1675.492994,100.000000,452.536452,39.559809,19.04493,47.50405

In [61]:
print(data5.isnull().sum())

Unnamed: 0                    0
realSum                       0
room_type                     0
room_shared                   0
room_private                  0
person_capacity               0
host_is_superhost             0
multi                         0
biz                           0
cleanliness_rating            0
guest_satisfaction_overall    0
bedrooms                      0
dist                          0
metro_dist                    0
attr_index                    0
attr_index_norm               0
rest_index                    0
rest_index_norm               0
lng                           0
lat                           0
dtype: int64

In [63]:
# Load the fifth dataset
data5 = pd.read_csv('budapest_weekends.csv')

# Add 'city' and 'date_type' columns
data5['city'] = 'budapest'  
data5['date_type'] = 'weekends'

# Save the modified dataset
data5.to_csv('cleaned_file5.csv', index=False)
print('Cleaned and saved: cleaned_file5.csv')

Cleaned and saved: cleaned_file5.csv

In [65]:
import pandas as pd

# Load all cleaned datasets
data1 = pd.read_csv('cleaned_and_modified_dataset.csv')
data2 = pd.read_csv('cleaned_file2.csv')
data3 = pd.read_csv('cleaned_file3.csv')
data4 = pd.read_csv('cleaned_file4.csv')
data5 = pd.read_csv('cleaned_file5.csv')

# Concatenate all datasets into one
combined_data = pd.concat([data1, data2, data3, data4, data5], ignore_index=True)

# Save the combined dataset to a new CSV file
combined_data.to_csv('combined_cleaned_data.csv', index=False)

print('All datasets combined and saved as combined_cleaned_data.csv')

All datasets combined and saved as combined_cleaned_data.csv

In [11]:
from sqlalchemy import create_engine
import pandas as pd

# Database connection details
USER = 'root'
PASSWORD = '12345678'  # Replace with your actual password
HOST = 'localhost'
PORT = '3306'
DATABASE = 'Neural_Nebula_040'  # The database we created in SQL

# SQLAlchemy connection string
engine_string = f"mysql+mysqldb://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Create the SQLAlchemy engine
engine = create_engine(engine_string)

# Connect to the database and confirm connection
with engine.connect() as conn:
    print("Connection to database successful!")

# Assuming you have a DataFrame named `combined_df` you want to upload
# Uncomment and adjust the following line to upload your DataFrame
# combined_df.to_sql('combined_table', con=engine, index=False, if_exists='replace')

# Example if you want to read from a table (once it exists)
# df = pd.read_sql('SELECT * FROM combined_table', con=engine)
# print(df)

Connection to database successful!

In [1]:
!pip install mysql-connector-python

Collecting mysql-connector-python
  Using cached mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl.metadata (6.2 kB)
Using cached mysql_connector_python-9.1.0-cp312-cp312-win_amd64.whl (16.1 MB)
Installing collected packages: mysql-connector-python
Successfully installed mysql-connector-python-9.1.0

In [3]:
!pip install mysqlclient

Collecting mysqlclient
  Using cached mysqlclient-2.2.6-cp312-cp312-win_amd64.whl.metadata (4.8 kB)
Using cached mysqlclient-2.2.6-cp312-cp312-win_amd64.whl (207 kB)
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.6