In [8]:
import pandas as pd

In [9]:
url="https://drive.google.com/file/d/1368WjSku3TfBzkJB1Q5a5-3TbFNDJAhQ/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
amsterdam_weekends = pd.read_csv(url)

In [10]:
amsterdam_weekends

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,88.0,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,87.0,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,90.0,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663
3,3,485.552926,Private room,False,True,2.0,True,0,0,10.0,98.0,1,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508
4,4,2771.541724,Entire home/apt,False,False,4.0,True,0,0,10.0,100.0,3,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
972,972,473.132894,Entire home/apt,False,False,2.0,False,0,0,9.0,98.0,0,1.911795,1.723938,283.762206,15.023909,351.969002,30.683248,4.86742,52.36629
973,973,491.645771,Entire home/apt,False,False,3.0,False,0,0,10.0,98.0,2,1.478016,1.465641,241.418512,12.782005,312.785000,27.267344,4.88066,52.38412
974,974,1812.855904,Entire home/apt,False,False,4.0,False,0,0,8.0,84.0,5,1.943031,0.388542,257.946814,13.657103,336.589450,29.342520,4.90688,52.35794
975,975,399.315727,Entire home/apt,False,False,2.0,False,0,0,9.0,89.0,1,3.719001,0.882094,156.045916,8.261917,189.962216,16.560145,4.86056,52.34639
976,976,728.798069,Entire home/apt,False,False,4.0,True,0,0,10.0,97.0,2,1.164313,0.454608,426.540426,22.583362,559.122644,48.742073,4.89676,52.36301

In [11]:
amsterdam_weekends.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 977 entries, 0 to 976
Data columns (total 20 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  977 non-null    int64
 1   realSum                     977 non-null    float64
 2   room_type                   977 non-null    object
 3   room_shared                 977 non-null    bool
 4   room_private                977 non-null    bool
 5   person_capacity             977 non-null    float64
 6   host_is_superhost           977 non-null    bool
 7   multi                       977 non-null    int64
 8   biz                         977 non-null    int64
 9   cleanliness_rating          977 non-null    float64
 10  guest_satisfaction_overall  977 non-null    float64
 11  bedrooms                    977 non-null    int64
 12  dist                        977 non-null    float64
 13  metro_dist                  977 non-null    float64
 14  attr_index                  977 non-null    float64
 15  attr_index_norm             977 non-null    float64
 16  rest_index                  977 non-null    float64
 17  rest_index_norm             977 non-null    float64
 18  lng                         977 non-null    float64
 19  lat                         977 non-null    float64
dtypes: bool(3), float64(12), int64(4), object(1)
memory usage: 132.7+ KB

In [12]:
amsterdam_weekends.describe()

,Unnamed: 0,realSum,person_capacity,multi,biz,cleanliness_rating,guest_satisfaction_overall,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat
count,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000,977.000000
mean,488.000000,604.828018,2.769703,0.254862,0.094166,9.470829,94.685773,1.302968,2.806345,1.089285,266.868700,14.129476,329.132787,28.692478,4.889697,52.364387
std,282.179907,443.682821,1.019876,0.436007,0.292209,0.830649,6.632364,0.732949,2.036602,0.826555,193.156767,10.226766,214.384885,18.689216,0.038575,0.018213
min,0.000000,165.912872,2.000000,0.000000,0.000000,2.000000,20.000000,0.000000,0.015045,0.036517,40.890060,2.164941,50.823991,4.430632,4.775950,52.290310
25%,244.000000,362.758653,2.000000,0.000000,0.000000,9.000000,93.000000,1.000000,1.410043,0.467145,132.719465,7.026888,170.682205,14.879391,4.869240,52.354550
50%,488.000000,491.645771,2.000000,0.000000,0.000000,10.000000,96.000000,1.000000,2.314549,0.876169,208.904591,11.060542,266.956967,23.272239,4.888100,52.365180
75%,732.000000,716.612378,4.000000,1.000000,0.000000,10.000000,99.000000,2.000000,3.610169,1.500856,366.687247,19.414411,438.109342,38.192618,4.906240,52.375250
max,976.000000,8130.668104,6.000000,1.000000,1.000000,10.000000,100.000000,5.000000,11.195932,4.411905,1888.737455,100.000000,1147.104769,100.000000,5.010770,52.415380

In [13]:
amsterdam_weekends['City'] = 'Amsterdam'

In [14]:
amsterdam_weekends.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,bedrooms,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,1,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,1,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,2,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam

In [15]:
amsterdam_weekends['day_type'] = 'WeekEnd'

In [16]:
amsterdam_weekends.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,319.640053,Private room,False,True,2.0,False,0,1,9.0,...,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam,WeekEnd
1,1,347.995219,Private room,False,True,2.0,False,0,1,9.0,...,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam,WeekEnd
2,2,482.975183,Private room,False,True,4.0,False,0,1,9.0,...,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam,WeekEnd

In [17]:
amsterdam_weekends.to_csv('amsterdam_weekends.csv', index=False)

In [18]:
url="https://drive.google.com/file/d/1wJkttpesqEhjxmkt-ZVyYTKg8scyDdVw/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
amsterdam_weekdays = pd.read_csv(url)

In [19]:
amsterdam_weekdays['City'] = 'Amsterdam'

In [20]:
amsterdam_weekdays['day_type'] = 'WeekDay'

In [21]:
amsterdam_weekdays.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1103 entries, 0 to 1102
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1103 non-null   int64
 1   realSum                     1103 non-null   float64
 2   room_type                   1103 non-null   object
 3   room_shared                 1103 non-null   bool
 4   room_private                1103 non-null   bool
 5   person_capacity             1103 non-null   float64
 6   host_is_superhost           1103 non-null   bool
 7   multi                       1103 non-null   int64
 8   biz                         1103 non-null   int64
 9   cleanliness_rating          1103 non-null   float64
 10  guest_satisfaction_overall  1103 non-null   float64
 11  bedrooms                    1103 non-null   int64
 12  dist                        1103 non-null   float64
 13  metro_dist                  1103 non-null   float64
 14  attr_index                  1103 non-null   float64
 15  attr_index_norm             1103 non-null   float64
 16  rest_index                  1103 non-null   float64
 17  rest_index_norm             1103 non-null   float64
 18  lng                         1103 non-null   float64
 19  lat                         1103 non-null   float64
 20  City                        1103 non-null   object
 21  day_type                    1103 non-null   object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 167.1+ KB

In [22]:
amsterdam_weekdays.to_csv('amsterdam_weekdays.csv', index=False)

In [23]:
url="https://drive.google.com/file/d/1q81__5AZUnuS8TxC8Z24QuqNKDmBHAkP/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
athens_weekdays = pd.read_csv(url)
athens_weekdays['City'] = 'Athens'
athens_weekdays['day_type'] = 'WeekDay'
athens_weekdays.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,129.824479,Entire home/apt,False,False,4.0,False,0,0,10.0,...,2.813964,0.881890,55.348572,2.086871,78.778377,5.915160,23.76600,37.98300,Athens,WeekDay
1,1,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,...,0.407293,0.304568,240.306654,9.060559,407.167696,30.572629,23.73168,37.97776,Athens,WeekDay
2,2,156.304923,Entire home/apt,False,False,3.0,True,0,1,10.0,...,1.237211,0.288488,199.507366,7.522257,395.967403,29.731642,23.72200,37.97900,Athens,WeekDay

In [24]:
athens_weekdays.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2653 entries, 0 to 2652
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2653 non-null   int64
 1   realSum                     2653 non-null   float64
 2   room_type                   2653 non-null   object
 3   room_shared                 2653 non-null   bool
 4   room_private                2653 non-null   bool
 5   person_capacity             2653 non-null   float64
 6   host_is_superhost           2653 non-null   bool
 7   multi                       2653 non-null   int64
 8   biz                         2653 non-null   int64
 9   cleanliness_rating          2653 non-null   float64
 10  guest_satisfaction_overall  2653 non-null   float64
 11  bedrooms                    2653 non-null   int64
 12  dist                        2653 non-null   float64
 13  metro_dist                  2653 non-null   float64
 14  attr_index                  2653 non-null   float64
 15  attr_index_norm             2653 non-null   float64
 16  rest_index                  2653 non-null   float64
 17  rest_index_norm             2653 non-null   float64
 18  lng                         2653 non-null   float64
 19  lat                         2653 non-null   float64
 20  City                        2653 non-null   object
 21  day_type                    2653 non-null   object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 401.7+ KB

In [25]:
athens_weekdays.to_csv('athens_weekdays.csv', index=False)

In [26]:
url="https://drive.google.com/file/d/1d5tW7S1VeT6on1gbekJHDVX4Z6O6tEfm/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
athens_weekends = pd.read_csv(url)
athens_weekends['City'] = 'Athens'
athens_weekends['day_type'] = 'WeekEnd'
athens_weekends.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,138.963748,Entire home/apt,False,False,4.0,True,1,0,10.0,...,0.407278,0.304570,240.306496,9.054205,407.167958,6.080622,23.73168,37.97776,Athens,WeekEnd
1,1,91.627024,Entire home/apt,False,False,4.0,True,1,0,10.0,...,4.367463,0.297474,39.802996,1.499687,58.706522,0.876720,23.72712,38.01435,Athens,WeekEnd
2,2,76.629250,Private room,False,True,2.0,False,0,0,10.0,...,2.194174,0.385247,78.734001,2.966519,113.326684,1.692414,23.73391,37.99529,Athens,WeekEnd

In [27]:
athens_weekends.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2627 entries, 0 to 2626
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  2627 non-null   int64
 1   realSum                     2627 non-null   float64
 2   room_type                   2627 non-null   object
 3   room_shared                 2627 non-null   bool
 4   room_private                2627 non-null   bool
 5   person_capacity             2627 non-null   float64
 6   host_is_superhost           2627 non-null   bool
 7   multi                       2627 non-null   int64
 8   biz                         2627 non-null   int64
 9   cleanliness_rating          2627 non-null   float64
 10  guest_satisfaction_overall  2627 non-null   float64
 11  bedrooms                    2627 non-null   int64
 12  dist                        2627 non-null   float64
 13  metro_dist                  2627 non-null   float64
 14  attr_index                  2627 non-null   float64
 15  attr_index_norm             2627 non-null   float64
 16  rest_index                  2627 non-null   float64
 17  rest_index_norm             2627 non-null   float64
 18  lng                         2627 non-null   float64
 19  lat                         2627 non-null   float64
 20  City                        2627 non-null   object
 21  day_type                    2627 non-null   object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 397.8+ KB

In [28]:
athens_weekends.to_csv('athens_weekends.csv', index=False)

In [29]:
url="https://drive.google.com/file/d/1IhxgcCu5WBCN4CdGJHZ5zIHpjmjjQjaH/view?usp=sharing"
url='https://drive.google.com/uc?id=' + url.split('/')[-2]
barcelona_weekdays = pd.read_csv(url)
barcelona_weekdays['City'] = 'Athens'
barcelona_weekdays['day_type'] = 'WeekDays'
barcelona_weekdays.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,474.317499,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1.111996,0.630491,526.469420,17.942927,915.587083,20.154890,2.17556,41.39624,Athens,WeekDays
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,...,1.751839,0.124017,320.127526,10.910462,794.277350,17.484489,2.14906,41.38714,Athens,WeekDays
2,2,161.984779,Private room,False,True,4.0,False,0,1,9.0,...,1.670493,0.080322,344.073936,11.726595,840.673617,18.505814,2.15357,41.37859,Athens,WeekDays

In [30]:
barcelona_weekdays.info(3)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1555 entries, 0 to 1554
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  1555 non-null   int64
 1   realSum                     1555 non-null   float64
 2   room_type                   1555 non-null   object
 3   room_shared                 1555 non-null   bool
 4   room_private                1555 non-null   bool
 5   person_capacity             1555 non-null   float64
 6   host_is_superhost           1555 non-null   bool
 7   multi                       1555 non-null   int64
 8   biz                         1555 non-null   int64
 9   cleanliness_rating          1555 non-null   float64
 10  guest_satisfaction_overall  1555 non-null   float64
 11  bedrooms                    1555 non-null   int64
 12  dist                        1555 non-null   float64
 13  metro_dist                  1555 non-null   float64
 14  attr_index                  1555 non-null   float64
 15  attr_index_norm             1555 non-null   float64
 16  rest_index                  1555 non-null   float64
 17  rest_index_norm             1555 non-null   float64
 18  lng                         1555 non-null   float64
 19  lat                         1555 non-null   float64
 20  City                        1555 non-null   object
 21  day_type                    1555 non-null   object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 235.5+ KB

In [31]:
barcelona_weekdays.to_csv('barcelona_weekdays.csv', index=False)

In [32]:
!pip install mysql-connector-python

Requirement already satisfied: mysql-connector-python in c:\users\pallavi work\appdata\local\programs\python\python311\lib\site-packages (9.1.0)

[notice] A new release of pip available: 22.3.1 -> 24.3.1
[notice] To update, run: python.exe -m pip install --upgrade pip

In [33]:
import sqlite3
conn = sqlite3.connect('neural_nebula_040.db')

In [34]:
amsterdam_weekends.to_sql('amsterdam_weekdays',conn,if_exists='replace',index=False)

977

In [35]:
query ="SELECT * FROM amsterdam_weekdays LIMIT 5"
pd.read_sql(query,conn)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,319.640053,Private room,0,1,2.0,0,0,1,9.0,...,4.763360,0.852117,110.906123,5.871971,136.982208,11.941560,4.84639,52.34137,Amsterdam,WeekEnd
1,1,347.995219,Private room,0,1,2.0,0,0,1,9.0,...,5.748310,3.651591,75.275937,3.985516,95.386468,8.315410,4.97512,52.36103,Amsterdam,WeekEnd
2,2,482.975183,Private room,0,1,4.0,0,0,1,9.0,...,0.384872,0.439852,493.272517,26.116521,875.114817,76.289005,4.89417,52.37663,Amsterdam,WeekEnd
3,3,485.552926,Private room,0,1,2.0,1,0,0,10.0,...,0.544723,0.318688,552.849514,29.270850,815.303994,71.074937,4.90051,52.37508,Amsterdam,WeekEnd
4,4,2771.541724,Entire home/apt,0,0,4.0,1,0,0,10.0,...,1.686798,1.458399,208.809162,11.055489,272.315202,23.739349,4.88467,52.38749,Amsterdam,WeekEnd

In [41]:
combined_data_2 = pd.read_csv("C:\\Users\\Pallavi Work\\Desktop\\Pallavi\\Masai School\\Unit 3\\Construct Week\\combined_data_2.csv")
combined_data_2.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,day_type
0,0,536.396682,Entire home/apt,False,False,5.0,False,0,1,9.0,...,1.351201,0.212346,390.776775,19.001549,1030.738507,47.550371,2.35900,48.86800,Paris,weekends
1,1,290.101594,Private room,False,True,2.0,True,0,0,10.0,...,0.699821,0.193710,518.478270,25.211044,1218.658866,56.219575,2.35385,48.86282,Paris,weekends
2,2,445.754497,Entire home/apt,False,False,4.0,False,0,1,10.0,...,0.968982,0.294343,432.689942,21.039580,1069.894793,49.356741,2.36023,48.86375,Paris,weekends

In [43]:
combined_data_1 = pd.read_csv("C:\\Users\\Pallavi Work\\Desktop\\Pallavi\\Masai School\\Unit 3\\Construct Week\\combined_data_1.csv")
combined_data_1.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,city,date_type
0,0,532.036214,Entire home/apt,False,False,4.0,False,0,1,10.0,...,1.111998,0.630504,526.471472,20.327672,915.591455,20.112468,2.17556,41.39624,Berlin,weekdays
1,1,169.897829,Private room,False,True,2.0,True,1,0,10.0,...,1.751831,0.124013,320.128264,12.360522,794.279660,17.447656,2.14906,41.38714,Berlin,weekdays
2,2,196.895292,Private room,False,True,2.0,False,1,0,9.0,...,0.621731,0.297516,503.354025,19.435081,1242.434221,27.292106,2.16500,41.38300,Berlin,weekdays

In [51]:
combined_data_2 = combined_data_2.rename(columns={'city': 'City'})
combined_data_1 = combined_data_1.rename(columns={'city': 'City','date_type': 'day_type'})

In [57]:
combined_data_3 = pd.read_csv("C:\\Users\\Pallavi Work\\Desktop\\Pallavi\\Masai School\\Unit 3\\Construct Week\\combined_data_3.csv")
combined_data_3 = combined_data_3.rename(columns={'city': 'City'})
combined_data_3.head(3)

,Unnamed: 0,realSum,room_type,room_shared,room_private,person_capacity,host_is_superhost,multi,biz,cleanliness_rating,...,dist,metro_dist,attr_index,attr_index_norm,rest_index,rest_index_norm,lng,lat,City,day_type
0,0,138.133208,Private room,False,True,2.0,True,1,0,10.0,...,4.328029,0.298484,74.230170,2.450656,176.868292,7.910210,-9.14034,38.75137,Lisbon,weekdays
1,1,124.061914,Private room,False,True,2.0,True,1,0,10.0,...,4.465504,0.293603,72.570845,2.395875,173.909352,7.777875,-9.14092,38.75260,Lisbon,weekdays
2,2,194.183865,Private room,False,True,4.0,True,1,0,10.0,...,4.475232,0.167860,72.517895,2.394127,177.996137,7.960651,-9.14245,38.75264,Lisbon,weekdays

In [58]:
# Combine all DataFrames into a single DataFrame
combined_df = pd.concat([amsterdam_weekends,amsterdam_weekdays,athens_weekdays,athens_weekends,barcelona_weekdays,combined_data_2,combined_data_1,combined_data_3], axis=0, ignore_index=True)
combined_df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 51707 entries, 0 to 51706
Data columns (total 22 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   Unnamed: 0                  51707 non-null  int64
 1   realSum                     51707 non-null  float64
 2   room_type                   51707 non-null  object
 3   room_shared                 51707 non-null  bool
 4   room_private                51707 non-null  bool
 5   person_capacity             51707 non-null  float64
 6   host_is_superhost           51707 non-null  bool
 7   multi                       51707 non-null  int64
 8   biz                         51707 non-null  int64
 9   cleanliness_rating          51707 non-null  float64
 10  guest_satisfaction_overall  51707 non-null  float64
 11  bedrooms                    51707 non-null  int64
 12  dist                        51707 non-null  float64
 13  metro_dist                  51707 non-null  float64
 14  attr_index                  51707 non-null  float64
 15  attr_index_norm             51707 non-null  float64
 16  rest_index                  51707 non-null  float64
 17  rest_index_norm             51707 non-null  float64
 18  lng                         51707 non-null  float64
 19  lat                         51707 non-null  float64
 20  City                        51707 non-null  object
 21  day_type                    51707 non-null  object
dtypes: bool(3), float64(12), int64(4), object(3)
memory usage: 7.6+ MB

In [59]:
combined_df.to_csv('combined_df.csv', index=False)

In [60]:
import warnings
warnings.filterwarnings('ignore')
from sqlalchemy import create_engine
import pandas as pd

# Database connection details
DATABASE_TYPE = 'mysql' 
DBAPI = 'mysqldb'  # Use 'mysqlconnector' instead of 'mysqldb'
USER = 'YourUser' 
PASSWORD = "YourPassword" 
HOST = 'HostName' 
PORT = '3306' 
DATABASE = 'Neural_Nebula_040' 

# Create the engine string
engine_string = f"{DATABASE_TYPE}+{DBAPI}://{USER}:{PASSWORD}@{HOST}:{PORT}/{DATABASE}"

# Create SQLAlchemy engine
engine = create_engine(engine_string)

# Connect to the database
conn = engine.connect()

# Assuming PerformanceRating is a DataFrame, you can save it to SQL
combined_df.to_sql('combined_df', con=engine, index=False, if_exists='replace')

51707